page-view-comments {
  #placeholder {
    text-align: center;
    color: gainsboro;
    padding-top: 50px;
  }

  .comment {
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, .17);
    word-break: break-word;
    white-space: normal;
    background-color: color($colors, secondary-transparent);
  }

  footer {
    margin-top: 5px;
    text-align: right;
    font-size: .8em;
  }
}
