<ion-header>

  <ion-navbar>
    <ion-title>{{guide.title}} Comments</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addComment()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h3 id="placeholder" *ngIf="comments.length == 0">No Comments</h3>
  <ion-list no-lines>

    <ion-item *ngFor="let comment of comments" >
      <div class="comment">
        {{comment.text}}
        <footer>
          {{comment.authorName}}
        </footer>
      </div>
    </ion-item>

  </ion-list>
</ion-content>
