<ion-header>

  <ion-navbar>
    <ion-title>Add New Guide</ion-title>
    <ion-buttons end>
        <button ion-button (click)="saveGuide()">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-input [(ngModel)]="guide.title" placeholder="Title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Content</ion-label>
    <ion-textarea [(ngModel)]="guide.content"></ion-textarea>
  </ion-item>
  <ion-item *ngIf="guide.base64Image">
    <ion-row justify-content-center>
      <img width="100px" height="100px" src="{{guide.base64Image}}" />
    </ion-row>
  </ion-item>
  <ion-item *ngIf="guide.youtubeURL">
    <ion-row justify-content-center>
      <iframe width="100%" height="315" *ngIf="guide.youtubeURL" [src]="guide.youtubeURL | youtube" frameborder="0" allowfullscreen></iframe>
    </ion-row>
  </ion-item>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col col-6>
        <button class="center" ion-button small round outline color="white" icon-left (click)="getPicture()">
          <ion-icon name="image"></ion-icon>
          Add Picture
        </button>
      </ion-col>
      <ion-col col-6>
        <button class="center" ion-button small round outline color="white" icon-left (click)="getVideo()">
          <ion-icon name="videocam"></ion-icon>
          Add Video
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
