page-view-rockstar {
  img {
    height: auto;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  h1 {
    text-align: center;
    padding: 10px;
    color: color($colors, primary);
    font-size: 30px;
    font-weight: bold;
  }
}
