<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="viewComments(guide)">
        <ion-icon name="chatbubbles"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>{{guide.title}}</h1>
  <ion-card *ngIf="guide.youtubeURL">
    <iframe  width="100%" height="315" [src]="guide.youtubeURL | youtube" frameborder="0" allowfullscreen></iframe>
  </ion-card>

  <img width="100%" height="auto" *ngIf="guide.base64Image" [src]="guide.base64Image">
  <p>{{guide.content}}</p>

</ion-content>
