<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>User Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-card-title>

      </ion-card-title>
      <ion-row>
        <ion-col col-4>
          <div id="img-container" *ngIf="user.base64Image">
            <img width="100%" height="315" [src]="user.base64Image">
          </div>
          <div id="img-container" *ngIf="user.photoURL">
            <img width="100%" height="315" [src]="user.photoURL">
          </div>
        </ion-col>
        <ion-col col-8>
          <ion-row style="font-size: 1.5em;">
            {{user.displayName}}
          </ion-row>
          <ion-row>
            <button ion-button round icon-left (click)="logout()">
              <ion-icon name="sad"></ion-icon>
              Sign Out
            </button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
