<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Rockstar Zone</ion-title>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="isAdmin()" (click)="addGuide()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let guide of guides" (click)="viewGuide(guide)">

    <ion-item>
      <ion-avatar item-left>
        <img id="headshot" height="70" width="70" src="img/lisa_mustard_headshot.jpg" />
      </ion-avatar>
      <h2>{{guide.title}}</h2>
    </ion-item>

    <ion-card-content>
      <p>{{abbreviatedText(guide)}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col col-4>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{numLikes(guide)}}</div>
        </button>
      </ion-col>
      <ion-col col-4>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>{{numComments(guide)}}</div>
        </button>
      </ion-col>
      <ion-col col-4 center text-center>
        <ion-note>
          {{timeAgo(guide)}}
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>
