page-reminder-view {

}


#complete {
		position: relative;
		left: 40%;
	}
$color_storm_dust_approx: #666666;
$white: rgb(255, 255, 255);

.circle {
	border: 2px solid $color_storm_dust_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 50%;
	filter: alpha(opacity=60);
	opacity: 0.6;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 0 1px 0 $white;
	width: 30px;
	height: 30px;
	position: absolute;
	left: 45%;
	top: 85%;
	z-index: 86;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: background-color .5s ease-in-out;
	&.filled {
		background-color: $color_storm_dust_approx;
	}
}